<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.ioka.android.ioka">

    <application>
        <activity
            android:name=".flows.bindCard.BindCardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".flows.payWithCard.PayWithCardActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>