<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.ioka.android.ioka">

    <application>
        <activity
            android:name="kz.ioka.android.ioka.presentation.flows.bindCard.BindCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kz.ioka.android.ioka.presentation.flows.payWithCard.PayWithCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.webView.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.result.ResultActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>